body {
  font-family: "Lato", sans-serif;
  color: #0d94cb;
  font-weight: 300;
}

.text-muted {
  color: #e9a581;
  font-size: 4.5vmax;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 5.5vmax;
}

.project-super {
  font-size: 2vmax;
}

.title-myphoto {
  margin: 20px 0px 20px 0px;
}

.modal-body {
  font-size: 20px;
}

.header-border {
  background-color: #e9d8c1;
  height: 3px;
}

h4 {
  color: #912e12;
  font-size: 2.5vmax;
}

h3 {
  margin-bottom: 0px;
}

a {
  color: #912e12;
  font-size: 2vmax;
}

p {
  margin-bottom: 4vmax;
}

ul {
  list-style-type: none;
}

.project-link {
  font-size: 1.5vmax;
}

.img-responsive {
  display: block;
  margin: 0px auto 0px auto;
}

.nav {
  width: 100%;
  margin: 0px auto 0px auto;
}

.nav-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.header-menu {
  display: none;
}

.nav_item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.modal-content {
  text-align: center;
}

@media screen and (max-width: 500px){
  .nav {
    z-index: 1;
    background-color: #fff;
    width: 200px;
    position: absolute;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
  }

  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 0px 0px 0px 25px;
  }

  .nav_item {
    display: list-item;
    border-bottom: 1px solid #e0e0e0;
    width: 100%;
    text-align: center;
  }

  .header-menu {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
  }

  .header-menu svg {
    width: 15vw;
    fill: #e9a581;
  }

  .text-muted {
    color: #e9a581;
    font-size: 6vmax;
  }

  .title-super {
    font-size: 8.5vmax;
    weight: 300;
  }

  .project-super {
    margin-top: 3px;
    font-size: 4.5vmax;
  }

  .title-myphoto {
    margin: 20px 0px 20px 0px;
  }

  .modal-body {
    font-size: 20px;
  }

  .header-border {
    background-color: #e9d8c1;
    height: 3px;
  }

  h4 {
    color: #912e12;
    font-size: 4.5vmax;
  }

  a {
    color: #912e12;
    font-size: 4vmax;
  }


  .project-link {
    font-size: 3.5vmax;
  }
}

@media screen and (max-width: 991px) {
  .title-name {
    text-align: center;
  }

  .img-circle {
    display: block;
    margin: 0px auto 0px auto;
  }
}